<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <header class="header-page">
      <div class="container">
        <section class="header">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand navbar__heading" href="#">Start Bootstrap</a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav__item">
                  <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav__item">
                  <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav__item">
                  <a class="nav-link" href="#">Portfolio</a>
                </li>
                <li class="nav__item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
              </ul>
            </div>
          </nav>
        </section>
      </div>
    </header>
    <main class="index-page">
      <section class="index-page__section-first">
        <div class="container">
          <div class="intro">
            <h1 class="intro__heading h-head">
              Your Favorite Source of Free Bootstrap Themes
            </h1>
            <p class="intro__para p-text">
              Start Bootstrap can help you build better websites using the
              Bootstrap framework! Just download a theme and start customizing,
              no strings attached!
            </p>
            <button type="button" class="btn btn--primary intro__btn">
              Find Out More
            </button>
          </div>
        </div>
      </section>
      <section class="index-page__section-second">
        <div class="container">
          <div class="client">
            <h2 class="client__heading h-text">
              We've got what you need!
            </h2>
            <p class="client__para p-text">
              Start Bootstrap has everything you need to get your new website up
              and running in no time! Choose one of our open source, free to
              download, and easy to use themes! No strings attached!
            </p>
            <button type="button" class="btn btn--active client__btn">
              Get Started!
            </button>
          </div>
        </div>
      </section>
      <section class="index-page__section">
        <div class="container-fluid">
          <div class="service">
            <h3 class="service__heading a-text">
              At Your Service
            </h3>
            <div class="service__icon row">
              <div class="icon-title col-lg-3 col-md-6 col-sm-12">
                <i class="fas fa-gem fa-3x"></i>
                <h4 class="service-name a1-text">Sturdy Themes</h4>
                <p class="service-para p1-text">
                  Our themes are updated regularly to keep them bug free!
                </p>
              </div>
              <div class="icon-title col-lg-3 col-md-6 col-sm-12">
                <i class="fas fa-laptop-code fa-3x"></i>
                <h4 class="service-name a1-text">Up to Date</h4>
                <p class="service-para p1-text">
                  All dependencies are kept current to keep things fresh.
                </p>
              </div>
              <div class="icon-title col-lg-3 col-md-6 col-sm-12">
                <i class="fas fa-globe fa-3x"></i>
                <h4 class="service-name a1-text">Ready to Publish</h4>
                <p class="service-para p1-text">
                  You can use this design as is, or you can make changes!
                </p>
              </div>
              <div class="icon-title col-lg-3 col-md-6 col-sm-12">
                <i class="fas fa-heart fa-3x"></i>
                <h4 class="service-name a1-text">Made with Love</h4>
                <p class="service-para p1-text">
                  Is it really open source if it's not made with love?
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="photo w-flex">
          <div class="photo__img col-lg-4 col-md-6 col-sm-6 col-6">
            <img class="images" src="../images/1.png" />
            <div class="photo__origin d-flex">
              <span class="photo-theme">Category</span>
              <span class="photo-title ">Project Name</span>
            </div>
          </div>
          <div class="photo__img col-lg-4 col-md-6 col-sm-6 col-6">
            <img class="images" src="../images/2.png" />
            <div class="photo__origin d-flex">
              <span class="photo-theme">Category</span>
              <span class="photo-title ">Project Name</span>
            </div>
          </div>
          <div class="photo__img col-lg-4 col-md-6 col-sm-6 col-6">
            <img class="images" src="../images/3.png" />
            <div class="photo__origin d-flex">
              <span class="photo-theme">Category</span>
              <span class="photo-title ">Project Name</span>
            </div>
          </div>
          <div class="photo__img col-lg-4 col-md-6 col-sm-6 col-6">
            <img class="images" src="../images/4.png" />
            <div class="photo__origin d-flex">
              <span class="photo-theme">Category</span>
              <span class="photo-title ">Project Name</span>
            </div>
          </div>
          <div class="photo__img col-lg-4 col-md-6 col-sm-6 col-6">
            <img class="images" src="../images/5.png" />
            <div class="photo__origin d-flex">
              <span class="photo-theme">Category</span>
              <span class="photo-title ">Project Name</span>
            </div>
          </div>
          <div class="photo__img col-lg-4 col-md-6 col-sm-6 col-6">
            <img class="images" src="../images/6.png" />
            <div class="photo__origin d-flex">
              <span class="photo-theme">Category</span>
              <span class="photo-title ">Project Name</span>
            </div>
          </div>
        </div>
      </section>
      <section class="index-page__section-last">
        <div class="container">
          <div class="download">
            <h1 class="download__heading h-text">
              Free Download at Start Bootstrap!
            </h1>
            <button type="button" class="btn btn--primary download__btn">
              Download Now!
            </button>
          </div>
        </div>
      </section>
      <section class="index-page___section-end">
        <div class="container">
          <div class="contact">
            <h3 class="contact__heading a-text">
              Let's Get In Touch!
            </h3>
            <p class="contact__para p1-text">
              Ready to start your next project with us? Give us a call or send
              us an email and we will get back to you as soon as possible!
            </p>
            <div class="contact__type row">
              <div class="type-data col-lg-6 col-md-12 col-sm-12">
                <i class="fas fa-phone fa-3x"></i>
                <p class="type-title p-text">
                  +1 (202) 555-0149
                </p>
              </div>
              <div class="type-data col-lg-6 col-md-12 col-sm-12">
                <i class="fas fa-envelope fa-3x"></i>
                <a class="type-link p-text" href="#">contact@yourwebsite.com</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer-page">
      <section class="footer-page__section f-text">
        <p class="">Copyright © 2019 - Start Bootstrap</p>
      </section>
    </footer>
  </body>
</html>
