html,
body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.w-flex {
  display: flex;
  flex-wrap: wrap;
}
.d-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
